*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: inset(100%);
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

/*Основная часть дэзайна*/
.page {
  display: flex;
  flex-direction: line;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}
.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-rows: 534px;
  align-items: end;
  gap: 30px;
  margin: 133px 30px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-self: flex-end;
  max-height: 456px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}
.result__video-container:-moz-loading .result__video {
  display: none;
}
.result__video {
  align-self: flex-end;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
/*формачки*/
.search-form {
  display: flex;
  gap: 40px;
  column-gap: 40px;
  max-height: 54px;
  margin-top: 16px;
}

.search-form__fieldset {
  border: none;
  font-family: Fira Sans Condensed, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.search-form__fieldset-title {
  color: white;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  width: 225px;
  margin-top: 5px;
  margin-bottom: 3px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-inline: none;
  padding-left: 0;
  color: white;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgba(255 255 255 /0.7);
}

.search-form__fieldset-title {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  min-width: 212px;
  margin-top: 5px;
}

.search-form__checkbox {
  appearance: none;
}

.search-form__checkbox + .search-form__pseudo-checkbox {
  display: block;
  border: 1px solid white;
  cursor: pointer;
  inline-size: 19px;
  block-size: 19px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  display: block;
  margin: 1px;
  background-color: white;
  inline-size: 15px;
  block-size: 15px;
}

.button {
  border: 1px solid white;
  color: white;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  background-color: transparent;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.search-form__textfield:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 0px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
}

.button.search-form__submit-button {
  width: 194px;
  height: 34px;
  margin-top: 20px;
}

.button.more-button {
  width: 100%;
  height: 34px;
  margin-top: 30px;
}

.search-form__label:has(.search-form__checkbox):hover {
  text-decoration: underline;
}

.search-form__label-text {
  cursor: pointer;
}

/*правая часть*/
.content__details {
  min-width: 399px;
  max-height: 534px;
}

.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  font-style: Bold;
  line-height: 94%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.content__accent {
  color: #545050;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 6px 0;
}

.content__video-card {
  display: grid;
  grid-template-columns: 196px 1fr;
  max-width: 390px;
  max-height: 103px;
}
.content__card-link_current .content__video-card {
  background-color: #545050;
}
.content__card-link:focus-visible {
  outline: 1px solid white;
}
.content__video-card:active {
  background-color: #545050;
}
.content__video-card:has(:hover) {
  cursor: pointer;
}
.content__video-card:has(:hover) * {
  text-decoration: underline;
}
.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__list-container {
  max-height: 300px;
  overflow-y: scroll;
}

.content__card-link {
  text-decoration: none;
}
.content__video-card-title {
  overflow: hidden !important;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content__video-card-description {
  color: white;
  font-weight: 400 !important;
}

/* Делаем контейнеры относительными */
.result__video-container,
.content__list-container {
  position: relative;
}

/* Прелоадеры внутри них будут абсолютными */
.result__video-container .preloader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #545050;
}
